resources/embeddings/*.faiss filter=lfs diff=lfs merge=lfs -text
resources/train.csv filter=lfs diff=lfs merge=lfs -text
resources/embeddings/med_embeddings.faiss filter=lfs diff=lfs merge=lfs -text
resources/pickles/syntactic_model_med.pkl filter=lfs diff=lfs merge=lfs -text
